.DS_Store
/target
/.settings
/.classpath
/.project
/tomcat.8080/
/build/
/webapp/WEB-INF/classes/
/node_modules/
/.idea/
/webapp/.idea/
/resources/ConnectionInfo.xml
/ChocoBanana.iml
.springBeans
.tmp
/webapp/bower_components
/*property files*/
/resources/local_properties
