.DS_Store
/target
/.settings
/.classpath
/.project
/tomcat.8080/
/build/
/webapp/WEB-INF/classes/
/node_modules/
/.idea/
/webapp/.idea/
/resources/ConnectionInfo.xml
/ChocoBanana.iml
.springBeans

/*property files*/
/resources/local_properties

node_modules
dist
.tmp
.sass-cache
bower_components
