/* .ns-party */
.ns_party main {
	width: auto;
	min-width: 600px;
	height: calc(100vh - 90px);
	padding: 15px 15px;
	background-color: rgb(241, 241, 241);
}

.ns_party .left_side{
	width: 25%;
	height: 100%;
	min-width: 300px;
	float: left;
}

.ns_party .party_profile_zone {
	position: relative;
	width: 100%;
	/*height: calc((100%)/3);*/
	height: 220px;
	min-height: 200px;
	margin-bottom: 15px;
	border-radius: 5px;
	background-color: #fff;
	float: left;
	border: 1px solid rgba(129,129,129,0.2);
}

.ns_party .cover {
	width: 100%;
	height: 160px;
	background: url(/images/bg.jpg) 50% 50% / cover;
	background-color: #dd4b39; /* 커버 사진이 없으면 기본 빨간색 */
}

.ns_party .cover::after {
  background: url(/images/party_cover_effect.png) repeat-x left 0 bottom 59px;
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0.5;
}

.ns_party .profile_img {
	width: 85px;
	height: 85px;
	position: absolute;
	left: 15px;
	bottom: 15px;
	background: url(/images/profile.jpg) 50% 50% / cover;
	border: 4px solid #ffffff;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}

.ns_party .setting_icon {
	width: 30px;
	height: 30px;
	background-image: url(/images/party_setting.png);
	background-size: 30px;
	position: absolute;
	top: 10px;
	left: 10px;
	cursor: pointer;
	opacity: 0.7;
}


.ns_party .party_of_guild {
	position: absolute;
	left: 120px;
	bottom: 65px;
}


.ns_party .party_of_guild .party_name {
	font-size: 20px;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	text-shadow: 0 1px 4px rgba(0, 0, 0, .8);
	word-break: break-word;
}

.ns_party .party_of_guild .guild_name {
	font-size: 13px;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	text-shadow: 0 1px 4px rgba(0, 0, 0, .9);
	word-break: break-word;
	font-weight: bold;
}

.ns_party .profile_info {
	margin-left: 110px;
	padding: 10px 0;
}

.ns_party .profile_info li {
	width: 50px;
	display: table-cell;
}

.ns_party .profile_info li .party_member, .ns_party .profile_info li .party_todo {
	color: #313131;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	display: block;
}

.ns_party .profile_info li .party_memberNum, .ns_party .profile_info li .party_todoNum {
	color: #dd4b39;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	display: block;
}

.ns_party .party_join_btn, .ns_party .party_leave_btn {
position: absolute;
right: 9px;
bottom: 180px;
  background: #dd4b39;
  background-image: -webkit-linear-gradient(top, #dd4b39, #CD4434);
  background-image: -moz-linear-gradient(top, #dd4b39, #CD4434);
  background-image: -ms-linear-gradient(top, #dd4b39, #CD4434);
  background-image: -o-linear-gradient(top, #dd4b39, #CD4434);
  background-image: linear-gradient(to bottom, #dd4b39, #CD4434);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 7px 14px 7px 14px;
  text-decoration: none;
}

.ns_party .party_join_btn:hover {
  background: #FF5540;
  background-image: -webkit-linear-gradient(top, #FF5540, #dd4b39);
  background-image: -moz-linear-gradient(top, #FF5540, #dd4b39);
  background-image: -ms-linear-gradient(top, #FF5540, #dd4b39);
  background-image: -o-linear-gradient(top, #FF5540, #dd4b39);
  background-image: linear-gradient(to bottom, #FF5540, #dd4b39);
  text-decoration: none;
}

.ns_party .party_all_todos {
	width: 100%;
	border-radius: 5px;
	background-color: #fff;
	float: left;
	border: 1px solid rgba(129,129,129,0.2);
}

.ns_party .party_todo_list {
	width: 100%;
	height: calc(((100vh - 388px)));
}

.ns_party .right_side {
	width: 73%;
	height: 100%;
	float: right;
}

.ns_party .party_detail {
	/*display: inline-block;*/
	width: 100%;
	height: 100%;
	border-radius: 5px;
	background-color: #fff;
	float: left;
	border: 1px solid rgba(129,129,129,0.2);
	/*overflow: scroll;*/
}


/* ns_personal .category랑 같음 */
.ns_party .category {
	padding: 10px 10px 0 10px;
	height: 50px;
	border-bottom: 1px solid rgba(129,129,129,0.2);
}

/* ns_personal .name랑 같음 */
.ns_party .name {
	padding : 10px;
	font-weight: 200;
	font-size: 20px 10px 20px 10px;
 	text-transform: uppercase;
}

/* 파티 통계 관련 CSS - 다혜 추가*/
.ns_party .left_column {
	float: left;
	height: calc(100vh - 200px);
	padding: 20px 20px 10px 20px;
	width: calc(50% - 40px);
	overflow: hidden;
}

.ns_party .right_column {
	float: right;
	margin-top: 20px;
	margin-right: 20px;
	width: calc(50% - 20px);
	height: calc(100vh - 200px);
	padding: 20 20px 20px 10px;
	display: inline-block;
	outline: 1px solid #efefef;
	border-bottom: 1px solid #dcdce0;
}

.ns_party .top_user_list {
	display: block;
}

.ns_party .notification {
	margin-top: 0px;
 	position: relative;
	width: 100%;
	height: auto;
	outline: 1px solid #efefef;
	display:inline-block;
	outline: 1px solid #efefef;
	border-bottom: 1px solid #dcdce0;
}

.ns_party .complete_ratio {
	margin-top: 20px;
	width: 100%;
	display: inline-block;
	outline: 1px solid #efefef;
	overflow: hidden;
	border-bottom: 1px solid #dcdce0;
}

.ns_party .static_title {
	background-color: #eee;
	padding: 15px;
	font-size: 20px;
}

.ns_party #myChart {
	margin-top: 20px;
	margin-bottom: 20px;
	position: relative;
}

/*party todo 관련 css*/
.ns_party .todo {
  width: calc(100% - 20px);
  position: relative;
  padding: 10px;
  overflow: hidden;
  border-bottom: 1px solid rgba(129, 129, 129, 0.2); }

.ns_party .todo .tid, .ns_party .todo .pid {
  display: none; }

.ns_party .party_pavicon {
  width: 32px;
  height: 32px;
  line-height: 32px;
  background-color: #42a5f5;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  display: inline-block; }

.ns_party .todo h2, .ns_party .todo p {
  position: relative; 
  display: inline-block;}

.ns_party .todo h2 {
  top: 3px;
  padding: 0 5px;
  color: #000;
  font-weight: 200; }

.ns_party .todo p {
  top: 6px;
  font-size: 10px;
  overflow: hidden; }

.ns_party .close_btn {
  position: absolute;
  top: 0;
  right: -54px;
  display: inline-block;
  width: 53px;
  height: 53px;
  -webkit-transition: all .3s ease;
  /* Safari */
  transition: all .3s;
  border-left: 1px solid rgba(129, 129, 129, 0.2);
  background: #dd4b39 url("/images/check_icon.png") no-repeat center;
  background-size: 20px 15px; }

.ns_party .todo:hover .close_btn {
  right: 0;
  cursor: pointer; }

 .ns_party .party_todo_list {
 	overflow:scroll;
 }

