html {
	height: 100%;
}

body, button, div, form, input, li, ul {
	margin: 0;
	padding: 0;
	font-family: NanumGothic, "나눔고딕", sans-serif;
}

li {
	list-style-type: none;
}

.sp_body {
	position: relative;
	width: 100%;
	height: 100%;
}

.sp_wrap {
	height: 100%;
	position: relative;
}

.sp_container {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	min-width: 768px;
	min-height: 650px;
}

.sp_body .bg_box {
	overflow: hidden;
	width: 100%;
	/*height: 100%;*/
	min-width: 1024px;
	min-height: 768px;
	left: 0;
	top: 0;
	position: fixed;
	background-color: #71FF94;
	/*background-color: #18cf8c;*/
	z-index: -1;
}

/*@media screen (min-width: 1024px){
	.sp_body .bg_box {
		height: 100%;
		width: 100%;
	}*/

/*
320
1280
1920

(max-width: 30em) 100vw, (max-width: 50em) 50vw, calc(33vw - 100px)

	<img src="small.jpg"
     srcset="large.jpg 1024w, medium.jpg 640w, small.jpg 320w"
     sizes="(min-width: 36em) 33.3vw, 100vw"
     alt="A rad wolf">
}*/

.sp_body .bg_box .bg_img {
	width: 100%;
	height: 100%;
	background-size: cover;
}

.sp_body .sp_logo {
	width: 150px;
	height: 30px;
	left: 40px;
	top: 40px;
	background: url("/images/ubuntudo_logo.png") no-repeat;
	background-size: 100%;
	position: absolute;
}

.sp_body .sp_content_wrap {
	position: absolute;
	text-align: center;
	left: 50%;
	top: 50%;
	margin: -205px auto 0 -150px; /* sp_content의 height와 width의 절반값 참고 */
	width: 300px;
}

.sp_body .sp_content {
	position: relative;
	width: 300px;
	height: 410px;
	/*background-color: #eee;*/
	margin: 0 auto;
}

.sp_body .msg {
	float: left;
	width: 300px;
	height: 110px;
	margin: 0 auto;
	text-align: center;
	font-size: 3em;
	color: #fff;
}

.sp_body .signup_box, .login_box {
	width: 245px;
	margin: 0 auto;
}


.sp_body .sp_content input {
	overflow: hidden;
	width: 215px;
	height: 40px;
	padding: 0 15px;
	border: 0;
	font-size: 13px;
	line-height: 1.4;
	background: 0 0;
	outline: 0 none;
	border-radius: 2px;
  	background: #fff;
  	margin-bottom: 8px;
}

.sp_body .signup_btn, .login_btn{
	display: block;
	width: 245px;
	height: 46px;
	padding: 15px 0 14px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	font-size: 16px;
	color: #393939;
	background: #71FF94;
	font-weight: 700;
	text-align: center;
	letter-spacing: -1px;
	border: 0 none;
	cursor: pointer;
}

.sp_body .goto_login, .goto_signup {
	margin: 12px auto;
	width: 105px;
	font-weight: 700;
	font-size: 13px;
	/*color: #18cf8c;*/
	color: #fff;
	display: block;
	cursor: pointer;
}

.sp_body .sp_footer {
	position: absolute;
	left: 26px;
	right: 26px;
	bottom: 22px;
	z-index: 20;
	min-height: 30px;
}

.sp_body .sp_footer .com_info {
	position: absolute;
	top: 0;
	right: 0;
}

.sp_body .sp_footer li {
	float: left;
	font-size: 12px;
	color: #eff0f0;
	text-decoration: none;
}

.sp_body .sp_footer a {
	cursor: pointer;
}

.sp_body .sp_footer .bar {
	display: inline-block;
	width: 1px;
	height: 8px;
	margin: 0 5px 0 7px;
	border-left: 1px solid #eff0f0;
}

.sp_body .sp_footer p {
	padding-top: 10px;
	font-size: 12px;
	color: #fff;
	opacity: .8;
	cursor: pointer;
}

.error {
	color: #dd4b39;
}

.fine {
	color: #71FF94;
}
