html {
	height: 100%;
}

body, button, div, form, input, li, ul {
	margin: 0;
	padding: 0;
	font-family: NanumGothic,'나눔고딕';
}

li {
	list-style-type: none;
}

/*지울 것*/
header, aside, main {
	outline: black solid;
}

/*header*/
header {
	width: 100%;
	height: 56px;
	
}

/* .ns-personal */
.ns-personal aside {
	width: 56px;
	height: calc(100vh - 56px);
	float: left;
}

.ns-personal main {
	width: calc(100% - 56px);
	height: calc(100vh - 56px);
	top:20px;
	bottom: 0px;
	float: right;
}