<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Ubuntu.do</title>
	<link rel="stylesheet" href="./../css/style.css">
</head>
<body>
	<header>
		<div class="logo"><!--<img src=""/>--></div>
		<nav>
			<a href="">home</a>
			<a href="">guild</a>
		</nav>
		<ul class="btn_wrapper">
			<li class="todo_add_btn"></li>
			<li class="profile"> </li>
		</ul>
		<div class="search_wrapper">
			<form method="post" action="">
				<input class="search_input" value="Search guilds" type="text">
				<input class="search_submit" type="submit" value="">
			</form>
		</div>
	</header>
	<div id="container" class="ns-personal">
		<aside>
		
		</aside>
		<main>

		</main>
	</div>
</body>
</html>