<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Ubuntu.do</title>
	<link rel="stylesheet" href="./../css/style.css">
</head>
<body>
	<header>
		<div class="logo"></div>
		<nav>
			<a href="">Home</a>
			<a href="">Guild</a>
		</nav>
		<div class="search_wrapper"></div>
		<ul class-"btn_wrapper">
			<li class="todo_add_btn"></li>
			<li class="profile"> </li>
		</ul>
	</header>
	<div id="container" class="ns-personal">
		<aside>
		
		</aside>
		<main>

		</main>
	</div>
</body>
</html>